<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p class="fs-6">An ecommerce website that focuses on eco-friendly products and promotes a
                        sustainable lifestyle and a healthier planet.
                        <br>
                        By offering products that are produced, packaged, and shipped with eco-friendly methods.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>ITI, Ismailia, Egypt.</li>
                        <li>support@ITI.com</li>
                        <li>+00 111 222 3333</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/about">About</a></li>
                        <li><a routerLink="/shop">Shop</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end footer -->