:root {
    --font-family: 'Catamaran', sans-serif;
    --border-radius: 62.438rem;
    --mainSize: 2.688rem;
}

main,
section,
nav {
    display: block
}

/* Navbar Format */
.navbar-custom {
    margin-bottom: 1rem
}


.page-error .text {
    position: absolute;
    top: -9999em;
    left: -9999em
}


.breadcrumb-section {
    padding: 200px 0 100px 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.breadcrumb-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    content: "";
    background-color: var(--back);
    z-index: -1;
}