<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>The Earth is what we all have in common</p>
          <h1>Wishlist</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<!--empty cart-->
<ng-container *ngIf=" !products || products.length == 0">
  <div class="container empty-cart-caption p-5">
    <div class="row align-items-center elimg">
      <img class="img-fluid" src="../../assets/img/empty.png" alt="" />
    </div>

    <div class="btn-container d-flex justify-content-end ">
      <button class="mt-5 mb-4 btn btn-success" routerLink="/shop">Go Shopping</button>

    </div>
  </div>
</ng-container>
<!---->
<ng-container *ngIf=" products && products.length > 0">
  <div class="cart-section mt-150 mb-150">
    <div class="container p-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="cart-table-wrap">
            <div class="table-responsive">
              <table class="table cart-table">
                <thead>
                  <tr class="table-head-row">
                    <th>No.</th>
                    <th class="product-image">Product Image</th>
                    <th class="product-name">Name</th>
                    <th class="product-price">Price</th>
                    <th class="product-total">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-body-row" *ngFor="let productItem of products ;let i =index">
                    <td (click)="Open(productItem)" style="cursor: pointer;">{{ i + 1 }}</td>
                    <td class="product-image"><img [src]=" productItem?.imgURL || '../../assets/img/default.png'"
                        alt="{{productItem.name}}" alt=""></td>
                    <td class="product-name">{{productItem?.name}}</td>
                    <td class="product-price">{{productItem?.price}}</td>
                    <td class="product-total px-2">
                      <button *ngIf="!productItem.inCart" class="btn btn-success m-2"
                        (click)="AddToCart(productItem._id)">Add to cart</button>
                      <button class="btn btn-danger m-2" (click)="Remove(productItem._id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- end cart -->