<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>We sale Eco-Friendly products.</p>
          <h1>About us</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<!-- featured section -->
<div class="eco">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="featured-text">
          <h2 class="pb-3">Why <span class="green-text">Eco</span></h2>
          <div class="row">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
              <div class="list-box d-flex">
                <div class="list-icon">
                  <fa-icon [icon]="faShippingFast"></fa-icon>
                </div>
                <div class="content">
                  <h3>Home Delivery</h3>
                  <p>We offer the best delivery and cash options, our platform prioritizes customer convenience and
                    satisfaction.
                    This website understands that fast, reliable, and secure delivery options are critical for a
                    positive shopping experience.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
              <div class="list-box d-flex">
                <div class="list-icon">
                  <fa-icon [icon]="faMoneyBillAlt"></fa-icon>
                </div>
                <div class="content">
                  <h3>Best Price</h3>
                  <p>We offer the best prices on products, our platform provides customers with excellent value for
                    their money.
                    This website is dedicated to offering the most competitive prices on a wide range of products.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
              <div class="list-box d-flex">
                <div class="list-icon">
                  <fa-icon [icon]="faBriefcase"></fa-icon>
                </div>
                <div class="content">
                  <h3>Packaging</h3>
                  <p>The website's shipping and packaging methods are also designed to be eco-friendly.
                    The products are shipped in recycled or biodegradable packaging.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="list-box d-flex">
                <div class="list-icon">
                  <fa-icon [icon]="faEarthAmericas"></fa-icon>
                </div>
                <div class="content">
                  <h3>Supports healthier planet</h3>
                  <p> By buying eco products, we are supporting a healthier planet and contributing to the preservation
                    of natural resources.
                    if you care about the environment and looking for ways to make a positive impact in the world, so
                    join us.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="responsive-container-block container">
  <p class="text-blk team-head-text">
    Our <span class="green-text">Team</span>
  </p>
  <div class="responsive-container-block">
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../../assets/img/sara.jpg">
        </div>
        <p class="text-blk name">
          Sara Sherif
        </p>
        <p class="text-blk position">
          Team leader
        </p>
        <p class="text-blk feature-text">
          Software Engineer
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/sara-sherif-b365421b2/" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faLinkedin"></fa-icon>
          </a>
          <a href="mailto:sarasherifahmed99@gmail.com" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faEnvelope"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../../assets/img/habiba.jpg">
        </div>
        <p class="text-blk name">
          Habiba Magdy
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Software Engineer
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/habibamagdy" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faLinkedin"></fa-icon>
          </a>
          <a href="mailto:habibamagdi30@gmail.com" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faEnvelope"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../../assets/img/nada.jpg">
        </div>
        <p class="text-blk name">
          Nada Shoman
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Software Engineer
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/nadashoman0/" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faLinkedin"></fa-icon>
          </a>
          <a href="mailto:Nadashoman0@gmail.com" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faEnvelope"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../../assets/img/alaa.jpg">
        </div>
        <p class="text-blk name">
          Alaa Elomda
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Software Engineer
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/alaa-elomda" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faLinkedin"></fa-icon>
          </a>
          <a href="mailto:alaa.elomda68@gmail.com" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faEnvelope"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../../assets/img/basant.jpg">
        </div>
        <p class="text-blk name">
          Bassant Ammar
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Software Engineer
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/basantreda" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faLinkedin"></fa-icon>
          </a>
          <a href="mailto:basantreda119@gmail.com" target="_blank" style="font-size: 20px;">
            <fa-icon class="cart-icon" [icon]="faEnvelope"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>